[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
opencv-python-headless = "*"
onnxruntime = "*"
numpy = "*"
pillow = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"