[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python-headless = "*"
onnxruntime = "*"
numpy = "*"
pillow = "*"
pymongo = "*"
python-dotenv = "*"
tomli = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
exceptiongroup = "*"

[requires]
python_version = "3.10"
