name: ml-client-ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-ml-client:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: machine-learning-client

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install pipenv
        run: python -m pip install pipenv

      - name: Install dependencies
        run: pipenv sync --dev --python $(which python)

    
      - name: Run tests with coverage
        run: pipenv run pytest --cov=mood_analyzer --cov-report=term-missing --cov-fail-under=80
