name: web-app-ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-web-app:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web-app

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install pipenv
        run: python -m pip install pipenv

      - name: Install dependencies
        run: pipenv sync --dev --python $(which python)

      - name: Run tests with coverage
        env:
          MONGODB_URI: mongodb://localhost:27017/testdb
          MONGO_DB_NAME: testdb
        run: pipenv run pytest --cov=app --cov-report=term-missing --cov-fail-under=80
